<header id="header" class="animated fadeInDown" >

  <div id="logo-group">
    <span id="logo"> Insight Lake  </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a routerLink="/auth/register" class="btn btn-danger">Create account</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown bgimg" >
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-4 hidden-xs hidden-sm"> 
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form class="smart-form client-form" #loginForm="ngForm">
            <header>
              Sign In
            </header>
            <fieldset>
            <div  *ngIf="loginError" class="alert alert-danger fade in">
                   <i class="fa-fw fa fa-times"></i>
                   <strong>Error!</strong> Invalid username or password
            </div>
              <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" [(ngModel)]="loginData.username" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="username" data-smart-validate-input="" data-required="" required data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address" #username="ngModel">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Please enter email address/username</b></label>
                <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger" >
                    <div [hidden]="!username.errors.required">
                      Email is required!
                    </div>
                    <div [hidden]="username.errors.required">
                      Please enter valid emailID
                    </div>
                </div>
              </section>
              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" [(ngModel)]="loginData.password" name="password" data-smart-validate-input="" data-required required data-minlength="3" data-maxnlength="20" data-message="Please enter your email password" #password="ngModel">
                  <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger" >
                    <div [hidden]="!password.errors.required">
                      Password is required!
                    </div>
                    <div [hidden]="password.errors.required">
                      Password is required!
                    </div>
                  </div>      
                
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                    your password</b> </label>

                <div class="note">
                  <a routerLink="/auth/forgot-password">Forgot password?</a>
                </div>
             
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Stay signed in</label>
              </section>
            </fieldset>
            <footer>
              <button (click)="login(loginData)" [disabled]="!loginForm.form.valid" class="btn btn-primary">
                Sign in
              </button>
            </footer>
          </form>
        </div>
        <h5 class="text-center"> - Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
