.bgimg {
    background-image: url('/assets/img/vebigdata.jpg') !important;
    
}
#logo
{
	width: 175px;
margin-top: 13px;
margin-left: 9px;
color:#510807;
font-size: 21px !important;
font-weight: 700 !important;
}
.center-align{
	align:center;
}
.addLocation{
	color:white;
	padding:9px;
}
.addLocation:hover{
	color:white;

}
.align-left{
	margin-left:75%;

}