.bgimg {
    background-image: url('/assets/img/vebigdata.jpg') !important;
    
}
#logo
{
width: 175px;
margin-top: 13px;
margin-left: 9px;
color:#510807;
font-size: 21px !important;
font-weight: 700 !important;
}
.location-icons-explore{
 display: inline-flex;
 color: #57889c;
 font-size: 14px;
 margin-right:5px;
 font-weight:700;
 display:inline-block;
}
.btn-group{
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;

}
.align-left-location {
    margin-left:65%;
    margin-top: 7px;
    
}

.navTabs {
   
    color: #5a5757;

}
.modal-dialog-location {
    width: 650px;
	margin: auto;
  margin-top: 4%;
}
.inline-group {
    margin: 0 -15px 8px 0 !important;
}
