<div id="content">
  <!-- <div class="row">
     <sa-big-breadcrumbs [items]="['Data', 'Data Store']" icon="table"
     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
     </div> -->
  <sa-widgets-grid>
     <div class="row">
        <article class="col-sm-4 col-md-4 col-lg-4">
           <div sa-widget [editbutton]="false" [fullscreenbutton]="false"
           color="white">
           <header >
              <span class="widget-icon"> <i class="fa fa-table"></i>
              </span>
              <h2>Data Location</h2>
           </header>
           <div>
              <div class="widget-body padding-5">
                 <div class="lightest-gray-bg">
                    <div class="row" style="padding: 4px 0px; margin-left: 39%">
                       <div class="col-md-12">
                          <div class="input-group">
                             <div class="icon-addon">
                                <input type="text" id="search" class="form-control"
                                [(ngModel)]="controls.filter"
                                placeholder='Type to filter the table...'
                                (keyup)='updateFilter($event)'> <label
                                   style="z-index: 22" for="search" class="fa fa-search"
                                   rel="tooltip" title="search"></label>
                             </div>
                          </div>
                       </div>
                    </div>

                     <div align="center" *ngIf="handelResponse"><i class="fa fa-gear fa-4x fa-spin"></i></div>
                    <ngx-datatable   style="height: 85vh" #myTable
                    class='table-striped ' [columnMode]="'force'" [headerHeight]="40"
                    [footerHeight]="80" [rowHeight]="35" [scrollbarV]="35" [scrollbarH]="true"
                    [rows]="locationData"
                    [cssClasses]="{
                    sortAscending: 'fa fa-sort-up',
                    sortDescending: 'fa fa-sort-down',
                    pagerLeftArrow: 'fa  fa-angle-left',
                    pagerRightArrow: 'fa fa-angle-right',
                    pagerPrevious: 'fa fa-angle-double-left',
                    pagerNext: 'fa fa-angle-double-right'
                    }">
                    <!-- Column Templates --> 
                    <ngx-datatable-column name="Type" [width]="180" [resizeable]="true"
                    [sortable]="true" [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       <span *ngIf="row.type==='TABLE'" class="fa fa-table fa-2x location-icons-store">    {{row.type}} </span> 
                       <span *ngIf="row.type==='S3'" class="fa fa-cloud fa-2x location-icons-store">    {{row.type}}</span> 
                       <span *ngIf="row.type==='HDFS'" class="fa fa-files-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='DB'" class="fa fa-database fa-2x location-icons-store">   {{row.type}}</span>
                       <span *ngIf="row.type==='API'" class="fa fa-gear fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='KAFKA'" class="fa fa-files-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='FILE'" class="fa fa-file-text-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='WEBHDFS'" class="fa fa-files-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='FTP'" class="fa fa-folder fa-2x location-icons-store">     {{row.type}}</span>
                       <span *ngIf="row.type==='STREAM'" class="fa fa-files-o fa-2x location-icons-store">    KAFKA</span>
                       <span *ngIf="row.type==='SFTP'" class="fa fa-folder fa-2x  location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='HBASE'" class="fa fa-files-o fa-2x  location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='SOLR'" class="fa fa-files-o fa-2x  location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='ELASTIC SEARCH'" class="fa fa-files-o fa-2x  location-icons-store">    {{row.type}}</span>
                    </ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column
                    name="Name"  [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       <p (click)="getStore(row)" (click)="getProp(row)" >{{row.name}}</p>
                    </ng-template>
                    </ngx-datatable-column>
                    </ngx-datatable>
                 </div>
              </div>
           </div>
     </div>
     </article>
     <div class="column">
        <article class="col-sm-8 col-md-8 col-lg-8">
           <div sa-widget [editbutton]="false" [fullscreenbutton]="false"
           color="white">
           <header >
              <span class="widget-icon"> <i class="fa fa-table"></i>
              </span>
              <h2>Data Store</h2>
              <div class="align-left-store">
                 <a class="addLocation-store" (click)="lgmodaladd.show()" (click)="clearObject()"> <i
                    class="fa fa-plus"></i> <span class="hidden-mobile">Add Store</span>
                 </a>                             
                
              </div>
           </header>
           <div>
              <div class="widget-body padding-50 ">
                 <div class="lightest-gray-bg">
                    <div class="row" style="padding: 4px 0px; margin-left: 72%">
                       <div class="col-md-12 ">
                          <div class="input-group">
                             <div class="icon-addon">
                                <input type="text" id="search" class="form-control"
                                [(ngModel)]="controls.stores"
                                placeholder='Type to filter the table...'
                                (keyup)='updateFilterStore($event)'> <label
                                   style="z-index: 22" for="search" class="fa fa-search"
                                   rel="tooltip" title="search"></label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div align="center" *ngIf="handelResponseStore"><i class="fa fa-gear fa-4x fa-spin"></i></div>
                    <ngx-datatable   style="height: 25vh" #myTable
                    class='table-striped bordered' [columnMode]="'force'" [headerHeight]="40"
                    [footerHeight]="45" [rowHeight]="35" [scrollbarV]="35" [scrollbarH]="true"
                    [rows]="storeData"
                    [cssClasses]="{
                    sortAscending: 'fa fa-sort-up',
                    sortDescending: 'fa fa-sort-down',
                    pagerLeftArrow: 'fa  fa-angle-left',
                    pagerRightArrow: 'fa fa-angle-right',
                    pagerPrevious: 'fa fa-angle-double-left',
                    pagerNext: 'fa fa-angle-double-right'
                    }">
                    <!-- Column Templates --> 
                    <ngx-datatable-column
                    name="Add/Edit Tag"  [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       <p  class="fa fa-tag padding-10" (click)="lgModalAddEditTag.show()"  (click)="getSeletecdData(row)"></p>
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                    name="Action"  [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       <p  class="fa fa-edit padding-5" (click)="editstore(row)" (click)="lgmodaladd.show()"></p>
                       <p  class="fa fa-trash padding-5" (click)="deleteStore(row)" ></p>
                       <p  class="fa fa-copy padding-5" (click)="clone(row)" (click)="tagmodelclone.show()" ></p>
                  
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                    name="Name"  [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       <p (click)="getFields(row)" (click)="getProperties(row)">{{row.name}}</p>
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                    name="Version"  [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       <p (click)="getFields(row)" (click)="getProperties(row)">{{row.version}}</p>
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Type" [width]="180" [resizeable]="true"
                    [sortable]="true" [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       <span *ngIf="row.type==='TABLE'" class="fa fa-table fa-2x location-icons-store">    {{row.type}} </span> 
                       <span *ngIf="row.type==='S3'" class="fa fa-cloud fa-2x location-icons-store">    {{row.type}}</span> 
                       <span *ngIf="row.type==='HDFS'" class="fa fa-files-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='DB'" class="fa fa-database fa-2x location-icons-store">   {{row.type}}</span>
                       <span *ngIf="row.type==='API'" class="fa fa-gear fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='KAFKA'" class="fa fa-files-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='FILE'" class="fa fa-file-text-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='WEBHDFS'" class="fa fa-files-o fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='FTP'" class="fa fa-folder fa-2x location-icons-store">     {{row.type}}</span>
                       <span *ngIf="row.type==='STREAM'" class="fa fa-files-o fa-2x location-icons-store">    KAFKA</span>
                       <span *ngIf="row.type==='SFTP'" class="fa fa-folder fa-2x location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='HBASE'" class="fa fa-files-o fa-2x  location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='SOLR'" class="fa fa-files-o fa-2x  location-icons-store">    {{row.type}}</span>
                       <span *ngIf="row.type==='ELASTIC SEARCH'" class="fa fa-files-o fa-2x location-icons-store">    {{row.type}}</span>
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                    name="Tags" [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" let-value="value"
                       ngx-datatable-cell-template> <p (click)="getFields(row)" (click)="getProperties(row)">{{row.tags}}</p>
                    </ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column
                    name="Description" [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" let-value="value"
                       ngx-datatable-cell-template><p (click)="getFields(row)" (click)="getProperties(row)"> {{row.description}}</p>
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                    name="" [resizeable]="true" [sortable]="true"
                    [draggable]="true" [canAutoResize]="true">
                    <ng-template let-row="row" let-value="value"
                       ngx-datatable-cell-template>
                       <span style="padding-bottom: 5%">  <button  *ngIf="row.type==='TABLE'"  type="button" class="btn btn-sm btn-success btn-next"  >
                          TableBuilder
                          </button>
                          <button  *ngIf="row.type==='API'"  type="button" class="btn btn-sm btn-success btn-next"  >
                          ApiBuilder
                          </button>
                          <button  *ngIf="row.type==='DB'"  type="button" class="btn btn-sm btn-success btn-next"  >
                          DbBuilder
                          </button>
                          <button  *ngIf="row.type==='FILE'"  type="button" class="btn btn-sm btn-success btn-next"  >
                          FileBuilder
                          </button>
                          <button  *ngIf="row.type==='FTP'"  type="button" class="btn btn-sm btn-success btn-next"  >
                          FtpBuilder
                          </button>
                       </span>
                    </ng-template>
                    </ngx-datatable-column>
                    </ngx-datatable>
                 </div>
              </div>
           </div>
     </div>
     </article>
     <article class="col-sm-8 col-md-8 col-lg-8">
        <div sa-widget [colorbutton]="true" [editbutton]="false"   [togglebutton]="true" [deletebutton]="true" [fullscreenbutton]="false" [custombutton]="false"  style="height: 25vh" >
        <!-- widget options:
           usage: <div sa-widget id="wid-id-0" [editbutton]="false">
           [colorbutton]="false"
           [editbutton]="false"
           [togglebutton]="false"
           [deletebutton]="false"
           [fullscreenbutton]="false"
           [custombutton]="false"
           [collapsed]="true"
           [sortable]="false"
           -->
        <header>
           <ul id="widget-tab-1" class="nav pull-left" [ngClass]="{'nav-tabs' : !demoShowTabs, 'nav-pills': demoShowTabs }">
              <li class="active">
                 <a data-toggle="tab" href="#fields"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Fields </span> </a>
              </li>
              <li>
                 <a data-toggle="tab" href="#properties"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Properties </span></a>
              </li>
              <li>
                 <a data-toggle="tab" href="#rules"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Rules </span></a>
              </li>
           </ul>
        </header>
        <!-- widget div-->
        <div>
           <!-- widget content -->
           <div class="widget-body no-padding">
              <!-- widget body text-->
              <div class="tab-content padding-10">
                 <div class="tab-pane fade in active" id="fields">
                    <div sa-widget [editbutton]="false" [fullscreenbutton]="false"
                    color="white">
                    <header >
                       <span class="widget-icon"> <i class="fa fa-table"></i>
                       </span>
                       <h2>Data Store Fields</h2>
                       <div class="align-left-store-fields">
                          <a class="addLocation-store-fields" (click)="tagmodelAddEditFields.show()"> <i
                             class="fa fa-plus"></i> <span class="hidden-mobile">Add </span>
                          </a> 
                          <a class="addLocation-store-fields" > <i
                             class="fa fa-copy"></i> <span class="hidden-mobile">Clone </span>
                          </a> 
                          <a class="addLocation-store-fields" (click)="tagmodalDerivedFields.show()"> <i
                             class="fa fa-plus"></i> <span class="hidden-mobile">Add Dervied</span>
                          </a> 
                          <a class="addLocation-store-fields" (click)="tagmodalDerivedFields.show()"> <i
                             class="fa fa-edit"></i> <span class="hidden-mobile">Edit Derived </span>
                          </a> 
                       </div>
                    </header>
                    <div>
                       <div class="widget-body padding-50 ">
                          <div class="lightest-gray-bg">
                             <div class="row" style="padding: 4px 0px; margin-left: 72%">
                                <div class="col-md-12 ">
                                   <div class="input-group">
                                      <div class="icon-addon">
                                         <input type="text" id="search" class="form-control"
                                         [(ngModel)]="controls.fields"
                                         placeholder='Type to filter the table...'
                                         (keyup)='updateFilterFields($event)'> <label
                                            style="z-index: 22" for="search" class="fa fa-search"
                                            rel="tooltip" title="search"></label>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div align="center" *ngIf="handelResponseFields"><i class="fa fa-gear fa-4x fa-spin"></i></div>
                             <ngx-datatable   style="height: 25vh" #myTable
                             class='table-striped bordered' [columnMode]="'force'" [headerHeight]="40"
                             [footerHeight]="45" [rowHeight]="35" [scrollbarV]="35" [scrollbarH]="true"
                             [rows]="storeFields"
                             [cssClasses]="{
                             sortAscending: 'fa fa-sort-up',
                             sortDescending: 'fa fa-sort-down',
                             pagerLeftArrow: 'fa  fa-angle-left',
                             pagerRightArrow: 'fa fa-angle-right',
                             pagerPrevious: 'fa fa-angle-double-left',
                             pagerNext: 'fa fa-angle-double-right'
                             }">
                             <!-- Column Templates --> 
                             <ngx-datatable-column
                             name="Add/Edit Tag"  [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" ngx-datatable-cell-template>
                                <p  class="fa fa-tag padding-10" (click)="tagmodelAddEdit.show()"></p>
                             </ng-template>
                             </ngx-datatable-column>
                             <ngx-datatable-column
                             name="Action"  [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" ngx-datatable-cell-template>
                                <p  class="fa fa-edit padding-5"  (click)="tagmodelAddEditFields.show()"></p>
                                <p  class="fa fa-trash padding-5" ></p>
                             </ng-template>
                             </ngx-datatable-column>
                             <ngx-datatable-column
                             name="Name"  [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" ngx-datatable-cell-template>
                                <p >{{row.name}}</p>
                             </ng-template>
                             </ngx-datatable-column>
                             <ngx-datatable-column
                             name="Data Type"  [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" ngx-datatable-cell-template>
                                <p >{{row.dataType}}</p>
                             </ng-template>
                             </ngx-datatable-column>
                             <ngx-datatable-column
                             name="Length" [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <p >{{row.length  }}</p>
                             </ng-template>
                             </ngx-datatable-column> 
                             <ngx-datatable-column
                             name="Mandatory" [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <p > {{row.isMandatory}}</p>
                             </ng-template>
                             </ngx-datatable-column>
                             <ngx-datatable-column
                             name="Critical" [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <p > {{row.critical}}</p>
                             </ng-template>
                             </ngx-datatable-column>
                             <ngx-datatable-column
                             name="Tags" [resizeable]="true" [sortable]="true"
                             [draggable]="true" [canAutoResize]="true">
                             <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <p > {{row.tags}}</p>
                             </ng-template>
                             </ngx-datatable-column>
                             </ngx-datatable>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="tab-pane fade" id="properties">
                 <div sa-widget [editbutton]="false" [fullscreenbutton]="false"
                 color="white">
                 <header >
                    <span class="widget-icon"> <i class="fa fa-table"></i>
                    </span>
                    <h2>Data Store Properties</h2>
                    <div class="align-left-properties">                                            
                       <a class="addLocation-store-fields" (click)="tagmodelAddEditFields.show()"> <i
                          class="fa fa-plus"></i> <span class="hidden-mobile">Add </span>
                       </a>                                            
                    </div>
                 </header>
                 <div>
                    <div class="widget-body padding-50 ">
                       <div class="lightest-gray-bg">
                          <form id="smart-form-information" class="smart-form client-form" #propertiesForm="ngForm">
                             <fieldset >
                                <div class="row">
                                   <section class="col col-6" *ngIf="api">
                                      <label class="input">PARAMETER <span class="text-danger">*</span>
                                      <input type="text" name="name" required [(ngModel)]="storeinformation.name" placeholder="PARAMETER " #name="ngModel">
                                      </label>                                 
                                   </section>
                                   <section class="col col-6"*ngIf="api" >
                                      <label class="select" >
                                         HTTP Method <span class="text-danger">*</span>
                                         <select name="http_verb" [(ngModel)]="storeinformation.properties.http_verb"  #http_verb="ngModel">
                                         <option value="0" selected disabled>HTTP METHOD</option>
                                         <option value="GET">GET</option>
                                         <option value="POST">POST</option>
                                         <option value="POST">PUT</option>
                                         <option value="POST">DELETE</option>
                                         </select> 
                                      </label>
                                   </section>
                                </div>
                                <section *ngIf="api" >
                                   <label class="input">WHAT <span class="text-danger">*</span>
                                   <input type="text" required [(ngModel)]="storeinformation.properties.what" name="what" placeholder="WHAT" #what="ngModel">
                                   </label>
                                </section>
                                <div class="row" *ngIf="kafka">
                                   <section class="col col-6">
                                      <label class="input"> REPLICAS <span class="text-danger">*</span>
                                      <input type="text" required [(ngModel)]="storeinformation.properties.replica" name="replica" placeholder="REPLICAS" #replica="ngModel">
                                      </label> 
                                   </section>
                                   <section class="col col-6" *ngIf="kafka">
                                      <label class="input"> REPLICATION <span class="text-danger">*</span>
                                      <input type="text"  name="replication" placeholder="REPLICATION" [(ngModel)]="storeinformation.properties.replication"  #replication="ngModel" >
                                      </label> 
                                   </section>
                                </div>
                                <div class="row">
                                   <section class="col col-6" *ngIf="kafka" >
                                      <label class="select" >
                                         FORMAT <span class="text-danger">*</span>
                                         <select name="format" [(ngModel)]="storeinformation.properties.format"  #format="ngModel" >
                                            select format
                                            <option value="0" selected disabled>Select format</option>
                                            <option value="JSON">JSON</option>
                                         </select>
                                      </label>
                                   </section>
                                   <section  class="col col-6" *ngIf="kafka">
                                      <label class="input"> TOPIC <span class="text-danger">*</span>
                                      <input type="text" required  placeholder="TOPIC" name="topic"  [(ngModel)]="storeinformation.properties.topic"  #topic="ngModel" >
                                      </label> 
                                   </section>
                                </div>
                                <section  *ngIf="kafka"> 
                                   <label class="input"> SCHEMA <span class="text-danger">*</span>
                                   <input type="text" required  name="schema" placeholder="SCHEMA"  [(ngModel)]="storeinformation.properties.schema"  #schema="ngModel" >
                                   </label> 
                                </section>
                             </fieldset>
                             <footer>
                                <div class="actions ">
                                   <button type="button" class="btn btn-sm btn-success btn-next"  (click)="save(storeinformation)" [disabled]="!propertiesForm.form.valid" >
                                   Save
                                   </button>
                                </div>
                             </footer>
                          </form>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="tab-pane fade" id="rules">
              <div sa-widget [editbutton]="false" [fullscreenbutton]="false"
              color="white">
              <header >
                 <span class="widget-icon"> <i class="fa fa-table"></i>
                 </span>
                 <h2>Data Store Rules</h2>
                 <div class="align-left-store-rules">
                    <a class="add-store-rules" (click)="addRulesModal.show()"> <i
                       class="fa fa-plus"></i> <span class="hidden-mobile">Add Rule </span>
                    </a> 
                 
                 
                 </div>
              </header>
              <div>
                 <div class="widget-body padding-50 ">
                    <div class="lightest-gray-bg">
                       <div class="row" style="padding: 4px 0px; margin-left: 72%">
                          <div class="col-md-12 ">
                             <div class="input-group">
                                <div class="icon-addon">
                                   <input type="text" id="search" class="form-control"
                                   [(ngModel)]="controls.filter"
                                   placeholder='Type to filter the table...'
                                   (keyup)='update($event)'> <label
                                      style="z-index: 22" for="search" class="fa fa-search"
                                      rel="tooltip" title="search"></label>
                                </div>
                             </div>
                          </div>
                       </div>
                       <ngx-datatable   style="height: 20vh" #myTable
                       class='table-striped bordered' [columnMode]="'force'" [headerHeight]="40"
                       [footerHeight]="45" [rowHeight]="35" [scrollbarV]="35" [scrollbarH]="true"
                       [rows]="rows"
                       [cssClasses]="{
                       sortAscending: 'fa fa-sort-up',
                       sortDescending: 'fa fa-sort-down',
                       pagerLeftArrow: 'fa  fa-angle-left',
                       pagerRightArrow: 'fa fa-angle-right',
                       pagerPrevious: 'fa fa-angle-double-left',
                       pagerNext: 'fa fa-angle-double-right'
                       }">
                       <!-- Column Templates --> 
                       <ngx-datatable-column
                       name="Action"  [resizeable]="true" [sortable]="true"
                       [draggable]="true" [canAutoResize]="true">
                       <ng-template let-row="row" ngx-datatable-cell-template>
                          <p class="fa fa-trash" > </p>
                       </ng-template>
                       </ngx-datatable-column>
                       <ngx-datatable-column
                       name="Rule Type"  [resizeable]="true" [sortable]="true"
                       [draggable]="true" [canAutoResize]="true">
                       <ng-template let-row="row" ngx-datatable-cell-template>
                          <p (click)="getRowData(row)">{{row.ruletype}}</p>
                       </ng-template>
                       </ngx-datatable-column>
                       <ngx-datatable-column
                       name="Rule Text" [resizeable]="true" [sortable]="true"
                       [draggable]="true" [canAutoResize]="true">
                       <ng-template let-row="row" let-value="value"
                          ngx-datatable-cell-template>
                          <p (click)="getRowData(row)">{{row.ruletext}}</p>
                       </ng-template>
                       </ngx-datatable-column> 
                      
                       </ngx-datatable>
                    </div>
                 </div>
              </div>
           </div>
        </div>
</div>
<!-- end widget body text-->
</div>
<!-- end widget content -->
</div>
<!-- end widget div -->
</div>
</article>
</div>
</div>
</sa-widgets-grid>
</div>
<!--delete-->
<p-confirmDialog></p-confirmDialog>
<!--delete-->
<!-- *******************ADD/Edit Tag MODAL*******************-->
<div class="lgModalAddEditTag" id="lgModalAddEditTag" #lgModalAddEditTag >
  <div bsModal #lgModalAddEditTag="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog-addedit modal-lg">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" (click)="lgModalAddEditTag.hide()"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Add/Edit Data Tag</h4>
           </div>
           <div class="modal-body">
            <p-pickList sourceHeader="Available"  targetHeader="Selected" [source]="source" [target]="target" dragdrop="true">
            <ng-template let-tags pTemplate="item">
               <div class="ui-helper-clearfix">
                <div>{{tags.key}}</div>
               </div>
            </ng-template>
            </p-pickList>
           </div>
           <div class="alignbuttonstore">
            <button type="button" class="btn btn-sm btn-primary" (click)="updateTags()" (click)="lgModalAddEditTag.hide()">Update
            </button>
            <button type="button" class="btn btn-sm btn-primary" (click)="lgModalAddEditTag.hide()">Cancel
            </button>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- ******************* END ADD/Edit Tag MODAL *******************-->

<!-- *******************ADD/Edit Data Store MODAL*******************-->
<div class="lgmodaladd" id="lgmodaladd" #lgmodaladd >
  <div bsModal #lgmodaladd="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog-store modal-lg">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" (click)="lgmodaladd.hide()"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Add/Edit Data Store</h4>
           </div>
           <div class="modal-body">
              <!-- widget div-->
              <div>
                 <!-- widget content -->
                 <div class="widget-body fuelux">
                    <fuel-ux-wizard >
                       <div class="wizard">
                          <div class="steps-container">
                             <ul class="steps">
                                <li data-step="1" class="active">
                                   <span class="badge badge-info">1</span>General Information<span class="chevron"></span>
                                </li>
                                <li data-step="2">
                                   <span class="badge">2</span>Properties<span class="chevron"></span>
                                </li>
                             </ul>
                          </div>
                       </div>
                       <div class="step-content">
                          <form class="form-horizontal" >
                             <!-- ...................	General information tab..................... -->
                             <div class="step-pane active" data-step="1">
                          <form id="smart-form-information-store" class="smart-form client-form" #storeForm="ngForm">
                          <fieldset >
                          <div class="row">
                          <section class="col col-6" >
                          <label class="input">NAME <span class="text-danger">*</span>
                          <input type="text" name="name" required [(ngModel)]="storeinformation.name" placeholder="Name" #name="ngModel">
                          </label>
                          </section>
                          <section class="col col-6">
                          <label class="select">VERSION <span class="text-danger">*</span>
                            <select name="version" [(ngModel)]="storeinformation.version"  #version="ngModel"  >
                              <option value="0" selected disabled>Select version</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              </select> 
                          </label>
                          </section>
                          </div>
                          <section>
                          <label class="select" > TYPE <span class="text-danger">*</span>
                          <select name="type" [(ngModel)]="storeinformation.type"  #type="ngModel" (ngModelChange)="locationFormChange(storeinformation.type)" >
                          <option value="0" selected disabled>Select type</option>
                          <option value="FILE">FILE</option>
                          <option value="TABLE">TABLE</option>
                          <option value="QUERY">QUERY</option>
                          <option value="UNION">UNION</option>
                          <option value="TRANSPOSE">TRANSPOSE</option>
                          <option value="QUERY">CUSTOM QUERY</option>
                          <option value="SUMMARY">SUMMARY</option>
                          <option value="TOPIC">TOPIC</option>
                          <option value="API">API</option>
                          </select> </label>					
                          </section>
                          <section  >
                          <label class="select" > DATA FORMAT PROFILE <span class="text-danger">*</span>
                          <select name="format" [(ngModel)]="storeinformation.format"  #format="ngModel">
                          <option value="0" selected disabled>Select format</option>
                          <option  *ngFor="let formatData of dataFormat" [value]="formatData.value">{{formatData.key}}</option>
                          </select> </label>					
                          </section>
                          <section *ngIf="fileInfo" >
                          <label class="file">File <span class="text-danger">*</span>
                          <input type="file"  [(ngModel)]="storeinformation.file" name="file" placeholder="file" #file="ngModel">
                          </label>
                          </section>
                          <section>
                          <label class="input">DESCRIPTION <span class="text-danger">*</span>
                          <input type="text" required [(ngModel)]="storeinformation.description" name="description" placeholder="DESCRIPTION" #description="ngModel">
                          </label>
                          </section>
                          </fieldset>
                          <footer>
                          <div class="actions ">
                          <button type="button" class="btn btn-sm btn-success btn-next" [disabled]="!storeForm.form.valid" >
                          Next   <i class="fa fa-arrow-right"></i>
                          </button>
                          </div>
                          </footer>
                          </form>
                          </div>
                          <!-- ...................	Properties tab..................... -->
                          <div class="step-pane active" data-step="2">
                             <h1>Properties</h1>
                             <form id="smart-form-store-properties" class="smart-form client-form" #storepropertiesForm="ngForm">
                                <footer>
                                   <div class="actions ">
                                      <button type="button" class="btn btn-sm btn-success " (click)="save(storeinformation)" (click)="lgmodaladd.hide()" [disabled]="!storepropertiesForm.form.valid" >
                                      Save
                                      </button>
                                      <button type="button" class="btn btn-sm btn-primary btn-prev">
                                      <i class="fa fa-arrow-left"></i>Prev
                                      </button>
                                   </div>
                                </footer>
                             </form>
                          </div>
                          </form>
                       </div>
                    </fuel-ux-wizard>
                 </div>
                 <!-- end widget content -->
                 <!-- end widget div -->
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- ******************* END ADD/EDIT Store Modal*******************-->


<!--******************** CLONE STORE MODAL ************************** -->
<div class="tagmodelclone ">
  <div bsModal #tagmodelclone="bs-modal" class="modal fade reduceSize" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog-clone modal-lg">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" (click)="tagmodelclone.hide()"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">clone Store</h4>
           </div>
           <div class="modal-body">
              <form id="smart-form-information-clone" class="smart-form client-form" #cloneForm="ngForm">
                  <fieldset >
              <section  >
                  <label class="input">NAME <span class="text-danger">*</span>
                  <input type="text" name="name" required [(ngModel)]="storeinformation.name" placeholder="Name" #name="ngModel">
                  </label>
                  </section>
                  <section>
                    <label class="select" > TYPE <span class="text-danger">*</span>
                    <select name="type" [(ngModel)]="storeinformation.type"  #type="ngModel" (ngModelChange)="locationFormChange(storeinformation.type)" >
                    <option value="0" selected disabled>Select type</option>
                    <option value="FILE">FILE</option>
                    <option value="TABLE">TABLE</option>
                    <option value="QUERY">QUERY</option>
                    <option value="UNION">UNION</option>
                    <option value="TRANSPOSE">TRANSPOSE</option>
                    <option value="QUERY">CUSTOM QUERY</option>
                    <option value="SUMMARY">SUMMARY</option>
                    <option value="TOPIC">TOPIC</option>
                    <option value="API">API</option>
                    </select> </label>					
                    </section>
                      <section>
                          <label class="input">DESCRIPTION <span class="text-danger">*</span>
                          <input type="text" required [(ngModel)]="storeinformation.description" name="description" placeholder="DESCRIPTION" #description="ngModel">
                          </label>
                        </section>
                  </fieldset>
                  <footer>
                      <div class="actions ">
                      <button type="button" class="btn btn-sm btn-success"  (click)="cloneStore(row)" >
                      Submit 
                      </button>
                      <button type="button" class="btn btn-sm btn-primary "  (click)="tagmodelclone.hide()">
                          Cancel
                        </button>
                      </div>
                      </footer>
            </form>
           </div>
        </div>
     </div>
  </div>
</div>
<!--********************END CLONE STORE MODAL ************************** -->


<!-- ###########******************TABLE 3 MODALS*******************################-->

<!--****************** STORE FIELDS TAG MODAL******************* -->
<div class="tagmodelAddEdit ">
  <div bsModal #tagmodelAddEdit="bs-modal" class="modal fade reduceSize" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" (click)="tagmodelAddEdit.hide()"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Add/Edit Tag</h4>
           </div>
           <div class="modal-body">
           </div>
        </div>
     </div>
  </div>
</div>
<!--****************** END STORE FIELDS TAG MODAL******************* -->
<!-- *******************STORE FIELDS CLONE MODAL******************* -->

<div class="tagmodelAddEditFields ">
  <div bsModal #tagmodelAddEditFields="bs-modal" class="modal fade reduceSize" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" (click)="tagmodelAddEditFields.hide()"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Add/Edit Fields</h4>
           </div>
           <div class="modal-body">
           </div>
        </div>
     </div>
  </div>
</div>
<!-- ******************* END STORE FIELDS CLONE MODAL******************* -->

<!-- ********************ADD/EDIT DERVIED MODAL**********************-->
<div class="tagmodalDerivedFields ">
  <div bsModal #tagmodalDerivedFields="bs-modal" class="modal fade reduceSize" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" (click)="tagmodalDerivedFields.hide()"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Add/Edit Dervied Fields</h4>
           </div>
           <div class="modal-body">
           </div>
        </div>
     </div>
  </div>
</div>
<!-- ******************** END ADD/EDIT DERVIED MODAL**********************-->

<!-- ******************* ADD RULES MODAL ************************ -->
<div class="addRulesModal ">
  <div bsModal #addRulesModal="bs-modal" class="modal fade reduceSize" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog-rule modal-lg">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" (click)="addRulesModal.hide()"
                 aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Add Rules</h4>
           </div>
           <div class="modal-body">
           </div>
        </div>
     </div>
  </div>
</div>
<!-- *******************  END ADD RULES MODAL************************ -->
<!-- end well-->