<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">Insight Lake</span>
  </div>

  <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">Already registered?</span> <a routerLink="/auth/login" class="btn btn-danger">Sign In</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown bgimg">

  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-4 hidden-xs hidden-sm">
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="well no-padding">

          <form id="smart-form-register" class="smart-form client-form" #registerForm="ngForm">
            <header>
              Registration is FREE*
            </header>

            <fieldset>
            
            <div class="row">
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="firstname" pattern="^[a-zA-Z]+$" required [(ngModel)]="user.firstName" placeholder="First name" #firstname="ngModel">
                  </label>
                <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" class="alert alert-danger" >
                    <div [hidden]="!firstname.errors.required">
                      firstname is required!
                    </div>
                    <div [hidden]="firstname.errors.required">
                      Please enter valid input
                   </div>
                </div>
                </section>
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="lastname" pattern="^[a-zA-Z]+$" required [(ngModel)]="user.lastName" placeholder="Last name" #lastname="ngModel">
                  </label>
                  <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="alert alert-danger" >
                    <div [hidden]="!lastname.errors.required">
                      lastname is required!
                    </div>
                    <div [hidden]="lastname.errors.required">
                      Please enter valid input
                   </div>
                </div>
                </section>
              </div>
            
              <section>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" required [(ngModel)]="user.clientName" name="clientName" placeholder="Company Name" #clientName="ngModel">
                  <b class="tooltip tooltip-bottom-right">Needed to enter the Company Name</b> </label>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="text" required [(ngModel)]="user.businessUnit" name="bussiness_unit" placeholder="Bussiness Unit" #bussiness_unit="ngModel">
                  <b class="tooltip tooltip-bottom-right">Needed to verify Bussiness Unit</b> </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="text" required [(ngModel)]="user.phone"  name="phone" placeholder="Phone" id="phone" #phone="ngModel">
                  <b class="tooltip tooltip-bottom-right">Don't forget your phone</b> </label>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required [(ngModel)]="user.email"  name="email" placeholder="Email" id="email" #email="ngModel">
                  <b class="tooltip tooltip-bottom-right">Don't forget your Email</b> </label>
                  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger" >
                    <div [hidden]="!email.errors.required">
                      Email is required!
                    </div>
                    <div [hidden]="email.errors.required">
                      Please enter valid emailID
                    </div>
                </div>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" required [(ngModel)]="user.password" name="password" placeholder="password" #password="ngModel">
                  <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
              </section>
            </fieldset>

            <fieldset>
              <section>
               
                <label class="checkbox">
                  <input type="checkbox" name="terms" required id="terms" [(ngModel)]="termsAgreed">
                  <i></i>I agree with the <a href="#" (click)="openModal($event, termsModal)"> Terms and Conditions </a></label>
              </section>
            </fieldset>
            <footer>
              <button (click)="register(user)" [disabled]="!registerForm.form.valid" class="btn btn-primary">
                Register
              </button>
            </footer>

            <div class="message">
              <i class="fa fa-check"></i>
              <p>
                Thank you for your registration!
              </p>
            </div>
          </form>

        </div>
        <p class="note text-center">*FREE Registration ends on October 2015.</p>
        <h5 class="text-center">- Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


<!-- <ng-container  *ngComponentOutlet="TermsModalComponent"></ng-container> -->

<ng-template #termsModal>
  <smart-terms-modal (agree)="onTermsAgree()" (close)="onTermsClose()"></smart-terms-modal>

</ng-template>
